
<div class="wrapper">
  <perfect-scrollbar>
    <div #videoWrapper class="videoWrapper">
      <!-- <button (click)="showCamera()" *ngIf="!isShowCamera" type="button">Start Scanning</button> -->
      <label for="choiseCamera">Выберите камеру</label>
      <select (change)="chooseCamera($event)" name="choiseCamera" id="choiseCamera">
        <option value="back">Задняя камера</option>
        <option value="front">Передняя камера</option>
      </select>

      <div [ngStyle]="{'visibility': isShowCamera ? 'visible' : 'hidden'}" [hidden]="">
        <qr-scanner
          [debug]="false"
          [canvasWidth]="200"
          [canvasHeight]="200"
          [stopAfterScan]="false"
          [updateTime]="100"
        ></qr-scanner>
      </div>
    </div>

    <div #result class="resultQRCodes"></div>
  </perfect-scrollbar>
</div>

<!-- <div fxLayout="column" fxFlexAlign="center">
  <div  fxFlex="20" fxFill>
  <textarea fxFill placeholder="qrr-value (URL or DATA URL)" [(ngModel)]="value"></textarea>
  <br/>

  </div>
  <div  fxFlex="60" fxFill>
  <ng2-qrcode-reader (result)="render($event)" [qrr-show]="showQRCode" [qrr-value]="value" [qrr-type]="elementType"></ng2-qrcode-reader>
  </div>
  <p>Result</p>
  <div #result  fxFlex="20" fxFill>
  </div>
  </div> -->
